.joke {
   width: 70%;
   height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0px auto;
}
.header {
   flex: 0 0 100px;
   background-color: #3456b6;
   border-radius: 4px;
   width: 100%;
   margin-top: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   font-weight: bold;
}

.content {
   flex: 1 1 auto;
   padding-top: 30px;
}
.input {
   display: flex;
   width: 100%;
}
.input input {
   width: 100%;
   height: 40px;
   padding: 10px;
   margin: 10px;
   text-indent: 20px;
   border-radius: 5px;
   background-color: #000;
   color: #fff;
   font-size: 24px;
   border: 1px solid #fff;

}
.form button {
   width: 97%;
   height: 55px;
   margin: 20px 10px;
   background-color: #b63436;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
   text-transform: uppercase;
   font-size: 22px;
   transition: all 0.6s ease 0s;
}
.form button:hover {
   background-color: #d42326;
   transform: translate(2px, 2px);
}
.image {
   max-width: 100%;
   text-align: center;

}
.image img {
   max-width: 80%;
   padding: 20px;
}